@use "variables" as *;

@mixin hover-lift {
  transition: transform $transicion-hover, box-shadow $transicion-hover;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $sombra-hover;
  }
}

@mixin desde($ancho) {
  @media (min-width: $ancho) {
    @content;
  }
}
