@use "../utilities/variables" as *;

.navbar-custom {
  background: $verde-header;
  padding: 15px 0;

  .navbar-brand {
    color: $negro-navbar;
    font-weight: 700;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
