@use "../utilities/variables" as *;

.btn-custom {
  background: $color-azul-marca;
  color: white;
  border: none;
  font-weight: 600;

  &:hover {
    background: $color-azul-marca-hover;
    color: $color-acento;
  }
}

.btn-outline-custom {
  background: transparent;
  color: $color-azul-marca;
  border: 2px solid $color-azul-marca;
  font-weight: 600;

  &:hover {
    background: $color-azul-marca;
    color: white;
  }
}
