@use "../utilities/variables" as *;

.btn-custom {
  background: $azul-principal;
  color: white;
  border: none;
  font-weight: 600;

  &:hover {
    background: $azul-hover;
    color: $naranja-hover;
  }
}

.btn-outline-custom {
  background: transparent;
  color: $azul-principal;
  border: 2px solid $azul-principal;
  font-weight: 600;

  &:hover {
    background: $azul-principal;
    color: white;
  }
}
