@use "../utilities/variables" as *;

.carousel-caption-custom {
  background-color: rgba(0, 0, 0, .6);
  color: #ffffff;
  border-radius: $radio-chico;
  padding: .75rem 1rem;

  h5,
  p {
    color: #ffffff;
    margin-bottom: .25rem;
  }
}

.carousel-inner {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
}
