@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex: 1;

  padding: 20px;
  margin: 40px auto;
  width: 100%;
  max-width: 1000px;
}

.service-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include desde($bp-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include desde($bp-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.service-item {
  background: $gris-claro;
  padding: 20px;
  border-radius: $radio-chico;
}

.contact-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include desde($bp-desktop) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.about-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include desde($bp-desktop) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
